.add-q-container{
    position: relative;
}

.width{
    width: fit-content;
}
.add-q{
    font-size: 1.5rem;
    margin-left: .3rem;
    color: red;
    padding: .1rem;
    text-align: center;
}
.g_parent{
    width: 70%;
    float: right;
    position: fixed;
    bottom: 600px;
    left: 250px;
    /* opacity:0.1; */
   
    /* border: 1px solid; */
}

.create-question{
    position: absolute;
    top: 5rem;
    left: 11rem;

}
.s_parent1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s_child1{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    position: relative;
    /* left: 280px; */
    /* top: 100px; */
}
.rec1{
    display: flex;
    margin-top: 15px;
}
.rec2{
    float:right;
    position: relative;
    left: 650px;
    bottom: 10px;
}
.arrow{
    height: 1rem;
    margin: 0.5rem;
}
.create{
    font-size: 18px;
}
.theme_btn{
    width: 107px;
    height: 40px;
    border-radius: 5px;
    margin-right: 8px;
    background: #8A5DEF 0% 0% no-repeat padding-box;
    border: 1px solid #8A5DEF;
    color:#FFFFFF;
}
.preview{
    width: 107px;
    height: 40px;
    border-radius: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #278DF1;
    color: #278DF1;
}
.save{
    width: 107px;
    height: 40px;
    background-color: #278DF1;
    border: none;
    margin: 10px;
    border-radius: 0px;
    border-radius: 5px;
}
.s_parent2{
    width: 61rem;
    /* border: 1px solid; */
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #F4F8FD;
    margin-bottom: 1rem;
    height: fit-content;
    
}
.ul{
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
    font-size: 16px;
}
.que{
    margin: 10px;
    font-size: 14px;
    margin-right: 34rem;
}
.s_parent3{
    width: fit-content;
    position: relative;
}
.que_input{
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    height: 25px;
    margin-top: 5px;
    width:350px;
    padding-left: 10px;
}
.options{
    margin-left: 0px;
    margin-top: 10px;
}
.label{
    font-size: 18px;
    border: 1px solid #00000029;
    border-radius: 6px;
    height: 20px;
    margin-left: 10px;
}
.que_box{
    margin: 10px;
}
#option{
    /* margin-top: 5px; */
    width: 13px;
}
.add_que{
    width: 107px;
    height: 40px;
    border: none;
    position: relative;
    top: 60px;
    left: 500px;
    background-color: #8C95AF;
    border-radius: 5px;
}
.settings{
    top: 0;
    right: 0;
    width: 20px;
    margin: 1.5rem 1.5rem 0 0;
}
.close_tag{
    position: absolute;
    width: 10px;
    float: right;
    right: 1rem;
    top: 1rem;
}
.select{
    border: 1px solid #2A86C7;
    border-radius: 4px;
    height: 24px;
    color: #2A86C7;
}
.float_box{
    position: absolute;
    width: 180px;
    height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 0;
    right: .3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E3E3E3;
    
}
.float_box>div{
    margin: .5rem;
}


.close_tag:hover{
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1.2);
}
.add-q:hover{
    cursor: pointer;
}
/* #addOption{
    background-color: #8A5DEF;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
    position: fixed;
    right: 600px;
    top: 250px;
} */

.addQue{
    position: fixed;
    left: 160px;
    top: 300px;
}
.addOption{
    background: #8A5DEF;
    width: 100px;
    height: 25px;
    border: #8A5DEF;
    border-radius: 4px;
    margin: 5px;
}