.container{
    display: flex;
    justify-content: space-between;
}

.list-container{
    margin: 2rem 8rem 0 8rem;
    width: 100%;
}

.list-header{
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#searchform  label{
    font: normal normal 600 1.5rem/2rem Open Sans;
letter-spacing: .072rem;
color: #081838;
}

#searchform > form{
    display: flex;
    justify-items: center;
}

#searchform  input{
    border: none;
    width: 20rem;
    font-size: 1rem;
    margin-left: 0.8rem;
    border-bottom: 0.1rem solid #00000029;
}

#util{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#util div{
    margin-left: 1.5rem;
}

#sort, #filter{
    width: 1rem;
    height: 1rem;
}

#sort{
background: transparent url('../../public/images/sort.svg') 0% 0% no-repeat padding-box;
background-size: cover;
}

#filter{
background: transparent url('../../public/images/sort.svg') 0% 0% no-repeat padding-box;
background-size: cover;
}

#create-btn button{
    padding: .5rem 1.5rem;
    background-color: #278DF1;
    border-radius: .4rem;
    color: aliceblue;
}

table thead{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
th{
    padding: 0 1rem;
    font: normal normal 600 1rem/1.8rem Open Sans;
letter-spacing: .054rem;
color: #081838;
}